@elabcom rc file Version 1.0
[oh]
invokeDir = /home/qidc/Nutstore/Project/gysc/adc/adc_top/QA_DIR
hostCommand = -lib simv.daidir/work -saveLevel -elab simv.daidir/kdb -simflow -simdir simv.daidir/kdb_libs -top "sp_ram simple_dp_ram true_dp_ram dff_rs_ld dff_rs dff adc_top_tb" -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveE\
lab
simType = VCS
